.all{
    text-align: center;
}

.welcome{
    color: black;
}


.container{
    display: flex;
    justify-content: center;
}

.bluebox{
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: blue;
}

.bluebox2{
    height: 100px;
    width: 100px;
    margin: 20px;
}
