<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="all">
        <h1 class="welcome">Welcome!</h1>

        <div class="container">
            {% for x in range(0,times): %}
            <div style="color: {{color}};" class="bluebox2"></div>
            {% endfor %}
        </div>
    </div>




</body>

</html>